<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Continuwuity{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {%- if !context.allow_indexing %}
    <meta name="robots" content="noindex" />
    {%- endif %}

    <link rel="icon" href="{{ crate::ROUTE_PREFIX }}/resources/logo.svg">
    <link rel="stylesheet" href="{{ crate::ROUTE_PREFIX }}/resources/common.css">
    <link rel="stylesheet" href="{{ crate::ROUTE_PREFIX }}/resources/components.css">
    {% block head %}{% endblock %}
</head>

<body>
    {%~ block content %}{% endblock ~%}
    {%~ block footer ~%}
        <footer>
            <img class="logo" src="{{ crate::ROUTE_PREFIX }}/resources/logo.svg">
            <p>Powered by <a href="https://continuwuity.org">Continuwuity</a> {{ env!("CARGO_PKG_VERSION") }}
                {%~ if let Some(version_info) = conduwuit_build_metadata::version_tag() ~%}
                    {%~ if let Some(url) = conduwuit_build_metadata::GIT_REMOTE_COMMIT_URL.or(conduwuit_build_metadata::GIT_REMOTE_WEB_URL) ~%}
                        (<a href="{{ url }}">{{ version_info }}</a>)
                    {%~ else ~%}
                        ({{ version_info }})
                    {%~ endif ~%}
                {%~ endif ~%}</p>
        </footer>
    {%~ endblock ~%}
</body>

</html>
