<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>The Book of Matrix, 4:15</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="noindex" />

        <link rel="icon" href="{{ crate::ROUTE_PREFIX }}/resources/logo.svg">
        <link rel="stylesheet" href="{{ crate::ROUTE_PREFIX }}/resources/book.css">
    </head>

    <body>
        <main>
            And the <em>Conduit</em> was greatly diminished, and it Rusted slowly in the dark, and its builders
            were scattered to the four corners of the Network, and all seemed to be lost for those
            who would stand against the <em>Great Homogeneous Mind</em> of the Federation. But lo!
            From its corpse there formed a <em>New Coalition</em>, a team to <em>Continue</em> the legacy of the Conduit,
            and their works pushed back the <em>Synapses of the Great Mind</em>, and illuminated the darkest corners
            of the <em>Specification</em>, for the betterment of the Network at large. ◈
        </main>
    </body>
</html>
