{% extends "_layout.html.j2" %}

{%- block head -%}
<link rel="stylesheet" href="{{ crate::ROUTE_PREFIX }}/resources/login.css">
{%- endblock -%}

{%- block title -%}
Change your password
{%- endblock -%}

{%- block content -%}
<div class="panel narrow">
    <h1>Change your password <a class="back" href="{{ crate::ROUTE_PREFIX }}/account/">Back</a></h1>
    {{ user_card }}
    {% match body %}
        {% when ChangePasswordBody::Form(reset_form) %}
            {{ reset_form }}
            <div class="centered-links">
                <a href="{{ crate::ROUTE_PREFIX }}/account/password/reset/">Forgot your password?</a>
            </div>
        {% when ChangePasswordBody::Success %}
            <p>
                Your password has been changed successfully. <a href="{{ crate::ROUTE_PREFIX }}/account/">Back</a>
            </p>
    {% endmatch %}
</div>
{%- endblock -%}
