{% extends "_layout.html.j2" %}

{%- block head -%}
<link rel="stylesheet" href="{{ crate::ROUTE_PREFIX }}/resources/error.css">
{%- endblock -%}

{%- block title -%}
🐈 Request Error
{%- endblock -%}

{%- block content -%}
<div class="error-body">
    <pre class="k10y" aria-hidden>
    　　　 　  ／＞　　 フ
    　　　 　  | 　_　 _|
    　 　　  ／` ミ＿xノ
    　　 　 /　　　 　 |
    　　　 /　 ヽ　　 ﾉ
    　 　 │　　|　|　|
    　／￣|　　 |　|　|
    　| (￣ヽ＿_ヽ_)__)
    　＼二つ
    </pre>
    <div class="panel middle">
        <h1>
            {% if status == StatusCode::NOT_FOUND %}
            Not found
            {% else if status == StatusCode::INTERNAL_SERVER_ERROR %}
            Internal server error
            {% else %}
            Bad request
            {% endif %}
        </h1>

        {% if status == StatusCode::INTERNAL_SERVER_ERROR %}
        <p>Please <a href="https://forgejo.ellis.link/continuwuation/continuwuity/issues/new">submit a bug report</a> 🥺</p>
        {% endif %}

        <pre style="white-space: pre-wrap"><code>{{ error }}</code></pre>
    </div>
</div>

{%- endblock -%}
