{% extends "_layout.html.j2" %}

{%- block head -%}
<link rel="stylesheet" href="{{ crate::ROUTE_PREFIX }}/resources/index.css">
{%- endblock -%}

{%- block content -%}
<div class="panel middle">
    <h1>
        Welcome to <a class="project-name" href="https://continuwuity.org">Continuwuity</a>!
    </h1>
    <p>Continuwuity is successfully installed and working.</p>
    {%- if first_run %}
    <p>To get started, <em>check the server logs</em> for instructions on how to create the first account.</p>
    <p>For support, take a look at the <a href="https://continuwuity.org/introduction">documentation</a> or join the <a href="https://matrix.to/#/#continuwuity:continuwuity.org?via=continuwuity.org&via=ellis.link&via=explodie.org&via=matrix.org">Continuwuity Matrix room</a>.</p>
    {%- else %}
    <p>To get started, <a href="https://matrix.org/ecosystem/clients">choose a client</a> and connect to <code>{{ server_name }}</code>.</p>
    <p><a class="button" href="{{ crate::ROUTE_PREFIX }}/account/">Manage your account</a></p>
    {%- endif %}
</div>

{%- endblock content -%}
