{% extends "_layout.html.j2" %}

{%- block title -%}
Reset your password
{%- endblock -%}

{%- block content -%}
{% decl body_class -%}
{% if let ResetPasswordRequestBody::Unavailable = body -%}
    {% let body_class = "panel middle" -%}
{% else -%}
    {% let body_class = "panel" -%}
{% endif -%}
<div class="{{ body_class }}">
    <h1>Reset your password</h1>
    {% match body %}
        {% when ResetPasswordRequestBody::Form(form) %}
            <p>
                To reset your password, enter your email below. If your Matrix account has an associated email address,
                you will receive an email with a link to reset your password.
            </p>
            <p>
                If your Matrix account does not have an associated email address, contact your homeserver's administrator
                to reset your password.
            </p>
            {{ form }}
        {% when ResetPasswordRequestBody::Unavailable %}
            <p>
                To reset your password, contact your homeserver's administrator.
            </p>
    {% endmatch %}
</div>
{%- endblock -%}
