{% extends "_layout.html.j2" %}

{% block title %}
Email verification
{% endblock %}

{%- block content -%}
<div class="panel middle">
    <h1>Email verification</h1>
    <p>Your email address has been verified. Please continue in the original application.</p>
</div>
{%- endblock content -%}
