<ul>
    {% for scope in scopes %}
        {% match scope %}
            {% when Scope::ClientApi %}
                <li>Interact with Matrix on your behalf</li>
            {% when Scope::Device(_) %}
                <li>Connect to your Matrix account</li>
        {% endmatch %}
    {% endfor %}
</ul>
