<div class="card">
    {{ avatar }}
    <div class="info">
        <p class="name">
            {% if let Some(display_name) = display_name %}
                {% if let Some(metadata) = oauth_metadata %}
                    <a href="{{ metadata.client_uri }}">{{ display_name }}</a>
                {% else %}
                    {{ display_name }}
                {% endif %}
            {% else %}
                Unknown device
            {% endif %}
            <span class="id">
                &bullet;&nbsp;{{ device_id }}
            {% if oauth_metadata.is_none() %}
                (legacy)
            {% endif %}
            </span>
        </p>
        <p>
            Last active: {{ last_active }}
        </p>
    </div>
</div>
