<div class="card red-avatar">
    {{ avatar }}
    <div class="info">
        {% if let Some(display_name) = display_name %}
        <p class="name">{{ display_name }}</p>
        {% endif %}
        <p class="id">{{ user_id }}</p>
    </div>
</div>
